@import 'partials/colors';

@import 'typography/font-colors';
@import 'typography/font-sizes';

@import 'containers/top-menu';

@import 'helpers/pagination';
@import 'helpers/spacing';

@import 'images/backgrounds';

.text-center{
    text-align: center;
}

.page-container{
    width: 90%;
    margin: 20px 5%;
}  

.float-right{
    float: right;
    clear: both;
}

.section-container{
    margin-top: 10px;
}

.pointer{
    cursor: pointer;
}
.paw-icon{
    max-height: 50px; width: auto;
    padding: 0 !important;
    margin-left: -5px !important;
  }
  
 
.main-content{
    background-color: rgba(255,255,255,.6);
  }

  .mat-sidenav-container{
    .sidenav-content{
        margin-top: 50px;
    }
      min-height: calc(100% - 50px);
  }