<div class="recipe-card">
  <div>
    <h2 *ngIf="selectedBuddy._id">Editing {{originalTitle}}</h2>
    <h2 *ngIf="!selectedBuddy._id">Create New Buddy</h2>
  </div>
  <div>
    <form novalidate>
        <div>
          <label for="name">Buddy Name</label>
          <input id="name" name="name" [(ngModel)]="selectedBuddy.name"
            placeholder="Enter a name" type="text">
        </div>
        <div>
          <label for="species">Species</label>
          <input id="species" name="species"  [(ngModel)]="selectedBuddy.species"
                 placeholder="Enter species" type="text">
        </div>
        <div>
          <label for="binomial">Scientific Name</label>
          <input id="binomial" name="binomial" [(ngModel)]="selectedBuddy.binomial"
                 placeholder="Enter scientific name (if known)" type="text">
        </div>
        <div>
          <label for="description">Description</label>
          <input id="description" name="description" [(ngModel)]="selectedBuddy.description"
                 placeholder="Enter a name" type="text">
        </div>
    </form>
  </div>
  <div>
      <button type="submit" (click)="cancelled.emit(selectedBuddy)">
        Cancel
      </button>
      <button type="submit" (click)="saved.emit(selectedBuddy)">
        Save
      </button>
  </div>
</div>
