<h1 *ngIf="(buddies | checkedOut).length > 0" class="col-xs-12 text-center"> Currently Checked Out Buddies</h1>

<div *ngFor="let buddy of (buddies | checkedOut)"
     class="col-xs-12" style="margin-top: 10px !important; margin-bottom: 10px !important;">
  <img class="col-xs-4 img-responsive" style="max-height: 65px; width: auto;" [src]="buddy.checkedOut ? '/assets/img/icons/checked_out.png' : 'assets/img/icons/checked_in.png'" />
  <div class="col-xs-8 text-centered">
    <h2>{{buddy.name}}</h2>
  </div>
  <div class="col-xs-12">
    <div class="col-xs-11 col-xs-offset-1"> Species: {{buddy.species}} <span   *ngIf="buddy.binomial">({{buddy.binomial}})</span> </div>
    <div class="col-xs-12" *ngIf="buddy.description"> Description: {{buddy.description}} </div>
    <div class="col-xs-12"> Last Out:
      <span >{{buddy.name}} is currently checked out</span>
    </div>
    <div class="col-xs-12" *ngIf="buddy.timesOut"> Out {{buddy.timesOut}} times for a total of {{buddy.totalDaysOut}} days. </div>
    <div class="col-xs-12"> Owner: {{buddy.owner.local.username}}</div>
  </div>
  <div class="col-xs-8 col-xs-offset-2">
    <button class="col-xs-10 col-xs-offset-2 btn btn-success" (click)="checker.emit(buddy); $event.stopPropagation();">
      <i>Check {{buddy.checkedOut ? 'In' : 'Out'}} Buddy</i>
    </button>
  </div>
</div>

<h1 class="col-xs-12 text-center"> Currently Checked In Buddies</h1>


<div *ngFor="let buddy of (buddies | checkedIn)"
     class="col-xs-12" style="margin-top: 10px !important; margin-bottom: 10px !important;">
    <img class="col-xs-4 img-responsive" style="max-height: 65px; width: auto;" [src]="buddy.checkedOut ? '/assets/img/icons/checked_out.png' : 'assets/img/icons/checked_in.png'" />
    <div class="col-xs-8 text-centered">
      <h2>{{buddy.name}}</h2>
    </div>
    <div class="col-xs-12">
      <div class="col-xs-11 col-xs-offset-1"> Species: {{buddy.species}} <span   *ngIf="buddy.binomial">({{buddy.binomial}})</span> </div>
      <div class="col-xs-12" *ngIf="buddy.description"> Description: {{buddy.description}} </div>
      <div class="col-xs-12"> Last Out:
        <span *ngIf="buddy.lastOutDate && !buddy.checkedOut">{{buddy.lastOutDate | date}} for {{buddy.lastOutDays}} days.</span>
        <span *ngIf="!buddy.lastOutDate && !buddy.checkedOut"> Your buddy hasn't been out yet. You should rectify that!</span>
        <span *ngIf="buddy.checkedOut">{{buddy.name}} is currently checked out</span>
      </div>
      <div class="col-xs-12" *ngIf="buddy.timesOut"> Out {{buddy.timesOut}} times for a total of {{buddy.totalDaysOut}} days. </div>
      <div class="col-xs-12"> Owner: {{buddy.owner.local.username}}</div>
    </div>
  <div class="col-xs-8 col-xs-offset-2">
    <button class="col-xs-10 col-xs-offset-2 btn btn-success" (click)="checker.emit(buddy); $event.stopPropagation();">
      <i>Check {{buddy.checkedOut ? 'In' : 'Out'}} Buddy</i>
    </button>
    <button class="col-xs-6 btn btn-warning" (click)="selected.emit(buddy); $event.stopPropagation();">
      <i>Edit</i>
    </button>
    <button class="col-xs-6 btn btn-danger" (click)="deleted.emit(buddy); $event.stopPropagation();">
      <i>Delete</i>
    </button>
  </div>
</div>
