<h2 class="col-xs-12 bottom-5">Welcome, <span class="orange">{{user.username}}!</span><br> Let's get tracking! </h2>

<div class="col-xs-12">
  <input class="form-control tan-input" placeholder="Search by name, species, or scientific name" type="text" [(ngModel)]="filter.search">
  <div class="checkbox col-xs-9">
    <label>
      <input type="checkbox" (click)="showFilter()" [(ngModel)]="filter.neverOut"> Only buddies who have never been out
    </label>
  </div>
  <button class="btn btn-xs col-xs-3" (click)="clearFilter()">Clear</button>
</div>


<h3 *ngIf="(buddies | checkedIn | buddySearch:filter.search).length > 0" class="col-xs-12"> <i>Your checked out buddies:</i></h3>

<div *ngFor="let buddy of (buddies | checkedOut | buddySearch:filter.search)"
     class="col-xs-12 buddy">
  <div class="col-xs-12 bottom-5 col-md-6">
    <div class="col-xs-4">
      <img class="paw-icon" src="/assets/img/icons/checked_out.png" />
    </div>
      <h3 class="col-xs-8">{{buddy.name}}</h3>
  </div>
  <div class="col-xs-12 col-md-6 bottom-5">
    <div class="col-xs-12"><b>Species:</b> {{buddy.species}} <span *ngIf="buddy.binomial && buddy.binomial !== ' '"> ({{buddy.binomial}})</span></div>
    <div class="col-xs-12"><b>Birthday:</b> {{buddy.dateAdded | date: 'longDate'}}</div>
    <div class="col-xs-12" *ngIf="buddy.description"><b>Description:</b> {{buddy.description}} </div>
    <div class="col-xs-12">Buddy has been out since: {{buddy.lastOutDate | date:'shortDate'}}</div>
  </div>
    <button class="col-xs-6 col-xs-offset-6 btn" (click)="checker.emit(buddy); $event.stopPropagation();">
      <i>Check In</i>
    </button>
</div>


<div class="col-xs-12">
  <button (click)="randomBuddy.emit(buddies); $event.stopPropagation();"
          class="col-xs-10 col-xs-offset-1 col-sm-5 col-sm-offset-1 btn">Check out a Random Buddy</button>
  <button (click)="addBuddy.emit(buddies); $event.stopPropagation();"
          class="col-xs-10 col-xs-offset-1  col-sm-5 col-sm-offset-1 btn">Add a New Buddy</button>
</div>

<h3 *ngIf="(buddies | checkedIn | buddySearch:filter.search | neverOut:filter.neverOut).length > 0" class="col-xs-12"> <i>Your checked-in buddies:</i></h3>

<div *ngFor="let buddy of (buddies | checkedIn | buddySearch:filter.search | neverOut:filter.neverOut)" class="col-xs-12 buddy">

  <div class="col-xs-12 col-md-6 bottom-5">
    <div class="col-xs-4">
      <img class="paw-icon" src="assets/img/icons/checked_in.png" />
    </div>
    <h3 class="col-xs-8">{{buddy.name}}</h3>
  </div>

  <div class="col-xs-12 col-md-6 bottom-5">
      <div class="col-xs-12"><b>Species:</b> {{buddy.species}} <span *ngIf="buddy.binomial && buddy.binomial !== ' '"> ({{buddy.binomial}})</span></div>
      <div class="col-xs-12"><b>Birthday:</b> {{buddy.dateAdded | date: 'longDate'}}</div>
      <div class="col-xs-12" *ngIf="buddy.description"><b>Description:</b> {{buddy.description}} </div>
      <div class="col-xs-12" *ngIf="buddy.lastOutDate"><b>Last Out:</b>
        <span>{{buddy.lastOutDate | date}} for {{buddy.lastOutDays}} days.</span>
      </div>
    <div *ngIf="buddy.timesOut" class="col-xs-12"> Out {{buddy.timesOut}} times for a total of {{buddy.totalDaysOut}} days. </div>
    <div class="col-xs-12" *ngIf="!buddy.lastOutDate">Your buddy hasn't been out yet. You should rectify that!</div>
  </div>

  <div class="col-xs-12">
      <button class="col-xs-4 text-center btn col-md-2 col-md-offset-4" (click)="checker.emit(buddy); $event.stopPropagation();">
        <i>Check Out</i>
      </button>
      <button class="col-xs-offset-1 text-center col-md-2 col-xs-3 btn" (click)="selected.emit(buddy); $event.stopPropagation();">
        <i>Edit</i>
      </button>
      <button class="col-xs-3 text-center btn col-md-2 col-xs-offset-1" (click)="deleted.emit(buddy); $event.stopPropagation();">
        <i>Delete</i>
      </button>
  </div>

</div>
