<h2 class="col col-12 bottom-5 col-sm-10 offset-sm-1">Welcome, <span class="orange">{{user.username}}!</span><br>
  Let's get tracking! </h2>


<!--SEARCH BAR-->

<div class="col col-12 offset-sm-1 col-sm-10">
  <input class="form-control tan-input" placeholder="Search by name, species, or scientific name" type="text"
         [(ngModel)]="filter.search">
  <div class="col checkbox col-9">
    <label>
      <input type="checkbox" [(ngModel)]="filter.neverOut"> Only buddies who have never been out
    </label>
  </div>
  <button class="col btn btn-xs col-3 col-sm-4 offset-sm-8" (click)="clearFilter()">Clear</button>
</div>


<!--CHECKED OUT BUDDY HEADER AND BUDDIES-->

<h3 *ngIf="(buddies | checkedIn | buddySearch:filter.search).length > 0" class="col-12 col-sm-10 offset-sm-1 orange"><i>Checked
  out buddies:</i>
</h3>
<div class="flex-wrap">
  <div *ngFor="let buddy of (buddies | checkedOut | buddySearch:filter.search)"
       class="col col-12 col-sm-10 offset-sm-1 buddy">
    <div class="col col-12 bottom-5">
      <h3 class="col col-12"><img class="paw-icon" src="/assets/img/icons/checked_out.png"/>{{buddy.name}}</h3>
    </div>
    <div class="col col-12 bottom-5">
      <div class="col col-12"><b>Species:</b> {{buddy.species}} <span
        *ngIf="buddy.binomial && buddy.binomial !== ' '"> ({{buddy.binomial}})</span>
      </div>
      <div class="col col-12"><b>Birthday:</b> {{buddy.dateAdded ? (buddy.dateAdded | date: 'longDate') : 'Unknown'}}
      </div>
      <div class="col col-12" *ngIf="buddy.description"><b>Description:</b> {{buddy.description}}</div>
      <div class="col col-12">Buddy has been out since: {{buddy.lastOutDate | date:'shortDate'}}</div>
    </div>
    <button class="col col-6 offset-6 col-sm-4 offset-sm-8 btn" (click)="checker.emit(buddy); $event.stopPropagation();">
      <i>Check In</i>
    </button>
  </div>
</div>

<!--GENERIC BUDDY BUTTONS-->

<div class="col col-12 col-sm-8 offset-sm-2 generic-buttons">
  <button (click)="randomBuddy.emit(buddies); $event.stopPropagation();"
          class="col-8 offset-2 col-md-5 offset-md-0 btn">Check out a Random Buddy
  </button>
  <button (click)="addBuddy.emit(buddies); $event.stopPropagation();"
          class="col col-8 offset-2 col-md-5 offset-md-1 btn">Add a New Buddy
  </button>
</div>


<!--CHECKED IN BUDDIES HEADER AND BUDDIES-->


<h3 *ngIf="(buddies | checkedIn | buddySearch:filter.search | neverOut:filter.neverOut).length > 0"
    class="col-12 col-sm-11 offset-sm-half orange">
  <i>Checked-in buddies:</i></h3>
<div class="d-flex align-items-stretch flex-wrap">
  <div
    *ngFor="let buddy of (buddies | checkedIn | buddySearch:filter.search | neverOut:filter.neverOut); let i = index;"
    class="col col-12 col-sm-5 buddy d-flex flex-column" ngClass="{{i%2==0 ? 'offset-sm-half' : 'offset-sm-1'}}">
    <h3 class="buddyName mb-auto p-2 orange"><img class="paw-icon" src="assets/img/icons/checked_in.png"/>{{buddy.name}}</h3>
    <div class="p-2 bottom-5 buddy-content">
      <div><b>Species:</b> {{buddy.species}} <span *ngIf="buddy.binomial && buddy.binomial !== ' '"> ({{buddy.binomial}})</span>
      </div>
      <div><b>Birthday:</b> {{buddy.dateAdded ? (buddy.dateAdded | date: 'longDate') : 'Unknown'}}</div>
      <div *ngIf="buddy.description"><b>Description:</b> {{buddy.description}}</div>
      <div *ngIf="buddy.lastOutDate"><b>Last Out:</b>
        <span>{{buddy.lastOutDate | date}} for {{buddy.lastOutDays}} days.</span>
      </div>
      <div *ngIf="buddy.timesOut"> Out {{buddy.timesOut}} times for a total of {{buddy.totalDaysOut}}
        days.
      </div>
      <div *ngIf="!buddy.lastOutDate"><b>Your buddy hasn't been out yet. You should rectify that!</b></div>
    </div>
    <div class="buddy-buttons  mb-auto p-2">
      <button class="col col-5 text-center btn col-sm-5"
              (click)="checker.emit(buddy); $event.stopPropagation();">
        <i>Check Out</i>
      </button>
      <button class="col offset-1 offset-sm-1 text-center col-sm-5 col-4 btn"
              (click)="selected.emit(buddy); $event.stopPropagation();">
        <i>Edit</i>
      </button>
    </div>
  </div>
</div>
