<div class="background">
  <buddy-list  *ngIf="!details" [buddies]="buddies | async" [user]="user | async"
    (selected)="selectBuddy($event)" (deleted)="deleteBuddy($event)" (checker)="checkBuddy($event)" (randomBuddy)="randomBuddy($event)"
    (addBuddy)="addBuddy($event)">
    LOADING BUDDIES.... Please Standby...
  </buddy-list>
</div>
<div>
  <buddy-detail *ngIf="details"
    (saved)="saveBuddy($event)" (cancelled)="resetBuddy($event)" (deleted)="deleteBuddy($event)"
    [selectedBuddy]="selectedBuddy | async" [actionType] = "actionType">Buddy Editor Loading...</buddy-detail>
</div>
