@import '../../../shared/styles/colors';

.buddy-card{
    display: flex;
    flex-flow: column wrap;
    margin: 6px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: calc((100%) - 32px);
    border: 1px solid $primary;
    background-color: rgba($accent-light, .3);
  }

  @media(min-width: 576px){
    .buddy-card{
      flex-basis: calc((100% / 2) - 32px);
    }
  }
  
  @media(min-width: 1088px){
    .buddy-card{
      flex-basis: calc((100% / 4) - 32px);
    }
      
  }
  
  .checked-in-image{
    background-image: url('/assets/img/icons/checked_in.png');
    background-size: cover;
    border-radius: 0 !important;
  }

  .checked-out-image{
    background-image: url('/assets/img/icons/checked_out.png');
    background-size: cover;
    border-radius: 0 !important;
  }

  .button-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: auto 0 10px 0;
    button{
      margin: 5px auto;
    }
  }

  .buddy-name{
    margin-bottom: 5px;
  }