<div class="background-accent-light">
  {{selectedBuddy | json}}
<h2 mat-dialog-title class="text-center text-warning">{{selectedBuddy._id ? "Editing "+ selectedBuddy.name : "Create
  New Buddy"}}</h2>
<div mat-dialog-content class=" " role="form">
  <form class="buddy-edit-form"  [formGroup]="buddyForm">
    <mat-form-field class="input">
      <input matInput name="name" formControlName="name" placeholder="Buddy Name" type="text" [(ngModel)] = "selectedBuddy.name">
      <mat-error *ngIf="name.errors && (name.dirty || name.touched)">
        Invalid name. Must be between 2 and 128 characters.
    </mat-error>
    </mat-form-field>
    <mat-form-field class="input">
      <input matInput name="species" formControlName="species" placeholder="Species" type="text"  [(ngModel)] = "selectedBuddy.species">
      <mat-error *ngIf="species.errors && (species.dirty || species.touched)">
        Invalid name. Must be between 3 and 128 characters.
    </mat-error>
    </mat-form-field>
    <mat-form-field class="input">
      <input matInput name="binomial" formControlName="binomial" placeholder="Scientific Name (Optional)"
        type="text"  [(ngModel)] = "selectedBuddy.binomial">
    </mat-form-field>
    <mat-form-field class="input" color="primary">
      <input matInput name="picker" [matDatepicker]="dateAdded" formControlName="dateAdded" placeholder="Buddy's Birthday"
      [(ngModel)] = "selectedBuddy.dateAdded">
      <mat-datepicker-toggle matSuffix [for]="dateAdded"></mat-datepicker-toggle>
      <mat-datepicker #dateAdded></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="input">
      <textarea matInput name="description"  [(ngModel)] = "selectedBuddy.description" placeholder="Description" maxlength="255"
        form="buddyForm" formControlName="description"></textarea>
        <mat-error *ngIf="description.errors && (description.dirty || description.touched)">
          Invalid description. Must be fewer than 256 characters
      </mat-error>
    </mat-form-field>
  </form>
<div mat-dialog-actions class="buddy-buttons  ">
  
  <button mat-raised-button color="primary" class="submit" ngClass="{{(buddyForm.valid) && (buddyForm.touched || selectedBuddy.owner) ? '' : 'disabled'}}" type="submit" (click)="saveBuddy()">
    Save
  </button>
  <button mat-raised-button color="warn" *ngIf="selectedBuddy._id" class="delete" (click)="deleteBuddy()">
    Delete
  </button>

  <button mat-raised-button color="basic" class="cancel" type="submit" (click)="close()">
    Cancel
  </button>

</div>