
.brand-logo{
  max-height: 45px !important;
  padding: 0 !important;
}

.navbar-brand{
  padding: 0 10px !important;
}

.paw-icon{
  max-height: 50px; width: auto;
  padding: 0 !important;
  margin-left: -5px !important;
}
