
.brandLogo{
  max-height: 45px !important;
  padding: 0 !important;
}

.navbar-brand{
  padding: 0 10px !important;
}

.paw-icon{
  float: left !important;
  max-height: 60px; width: auto;
  padding: 0 !important;
}
