<mat-toolbar color="primary" class="top-toolbar">
  <div class="toolbar-logo"><img alt="Buddy Trakr" src="/assets/img/logos/main_logo.png"></div>
  <button class="menu-toggle" mat-flat-button color="accent">
  <i class="material-icons pointer" (click)="sidenav.toggle()" color="primary">menu</i>
  </button>  
</mat-toolbar>
<mat-sidenav-container class="menu-container main-content">
  <mat-sidenav class="sidenav-menu" #sidenav mode="over" [(opened)]="opened" [fixedInViewport]="true">
    <!-- <img class="menu-logo" alt="Buddy Trakr" src="/assets/img/logos/main_logo.png"> -->
    <mat-nav-list>
      <a (click)="sidenav.toggle()" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="nav-link text-center"
        [routerLink]="['/about']">About</a>
      <a *ngIf="(userID | async)" (click)="sidenav.toggle()" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"
        class="nav-link  text-center" [routerLink]="['/buddies']">Buddies</a>
      <a *ngIf="(userID | async)" (click)="sidenav.toggle()" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"
        class="nav-link  text-center" [routerLink]="['/settings']">Settings</a>
      <a *ngIf="!(userID | async)" (click)="sidenav.toggle()" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"
        class="nav-link text-center" [routerLink]="['/login']">Login</a>
      <a *ngIf="!(userID | async)" (click)="sidenav.toggle()" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"
        class="nav-link text-center" [routerLink]="['/signup']">Signup</a>
      <a *ngIf="(userID | async)" (click)="logout(); sidenav.toggle()" class="nav-link text-center pointer">Logout</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="sidenav-content">
    <flash-component [flash]="flash | async"></flash-component>
    <div class="content-container">
      <router-outlet></router-outlet>
    </div>

    <footer class="col-10 offset-1 text-center">
      <img src="/assets/img/logos/paw_logo.png" style="max-height: 40px !important;">
      <span>Buddy Trakr App created by
        <a href="http://www.miketruax.com">Mike Truax</a>
      </span>
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>