<nav class="navbar navbar-toggleable-sm fixed-top">
  <!--<button type="button" class="navbar-toggler" data-toggle="collapse" (click)="menuClick($event)"-->
  <!--data-target="#navbar-main" [ngClass]="{'nav-menu-active': menuActive}"-->
  <!--aria-controls="navbar-main" aria-expanded="false">-->
  <!--<span class="sr-only">Toggle navigation</span>-->
  <!--<span class="icon-bar"></span>-->
  <!--<span class="icon-bar"></span>-->
  <!--<span class="icon-bar"></span>-->
  <!--</button>-->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-main"
          aria-controls="navbar-main" aria-expanded="false" aria-label="Toggle navigation"
          [ngClass]="{'nav-menu-active': menuActive}" (click)="menuClick($event)">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <div class=" collapse navbar-collapse" id="navbar-main">
    <a class="navbar-brand" [routerLink]="['/about']">
      <img class="brandLogo" alt="Buddy Trakr" src="/assets/img/logos/main_logo.png">
    </a>
    <ul [ngClass]="{'in': menuActive}" class="nav nav-pills">
      <li class="nav-item" *ngIf="(userID | async)"><a routerLinkActive="active"
                                                       [routerLinkActiveOptions]="{exact:true}" class="nav-link"
                                                       [routerLink]="['/buddies']">Buddies</a></li>
      <li class="nav-item"><a routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="nav-link"
                              [routerLink]="['/about']">About</a></li>
      <li class="nav-item" *ngIf="(userID | async)"><a routerLinkActive="active"
                                                       [routerLinkActiveOptions]="{exact:true}" class="nav-link"
                                                       [routerLink]="['/settings']">Settings</a></li>
      <li class="nav-item" *ngIf="!(userID | async)"><a routerLinkActive="active"
                                                        [routerLinkActiveOptions]="{exact:true}" class="nav-link"
                                                        [routerLink]="['/login']">Log In</a></li>
      <li class="nav-item" *ngIf="!(userID | async)"><a routerLinkActive="active"
                                                        [routerLinkActiveOptions]="{exact:true}" class="nav-link"
                                                        [routerLink]="['/signup']">Signup</a></li>
      <li class="nav-item" *ngIf="(userID | async)" class="pointer"><a class="nav-link" (click)="logout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>
<flash-component [flash]="flash | async"></flash-component>
<div class="content-container">
  <router-outlet></router-outlet>
</div>

<footer class="col-xs-10 col-xs-offset-1 text-center">
  <img src="/assets/img/logos/paw_logo.png" style="max-height: 40px !important;">
  <span>Buddy Trakr App created by <a href="http://www.miketruax.com">Mike Truax</a></span>
</footer>
