
@media(min-width: 576px){
  .checked-in-buddy:nth-child(odd){
    margin-left: 4.166666% !important;
  }

  .checked-in-buddy:nth-child(even){
    margin-left: 8.3333333% !important;
  }
}

@media(min-width: 992px){
  .checked-in-buddy:nth-child(3n+1){
    margin-left: 4.166666% !important;
  }

  .checked-in-buddy:nth-child(3n+2), .checked-in-buddy:nth-child(3n+3) {
    margin-left: 8.3333333% !important;
  }
}

@media(min-width: 1400px){
  .checked-in-buddy{
    flex: 0 0 16.6666666% !important;
    max-width: 16.666666% !important;
  }
  .checked-in-buddy:nth-child(4n+1){
    margin-left: 4.166666% !important;
  }

  .checked-in-buddy:nth-child(4n+2), .checked-in-buddy:nth-child(4n+3), .checked-in-buddy:nth-child(4n+4){
    margin-left: 8.33333333% !important;
  }

}
