a:hover:not(.navbar-brand){
  background-color: $tan;
}
.active, .active:hover{
background-color: $blue-green !important;
color: white;
}

.mat-sidenav{
  width: 150px;
}

.menu-logo{
  max-height: 45px !important;
  margin: 10px auto;
  display: block;
}