.buddy{
  border-top: 1px solid $blue-green;
  border-bottom: 1px solid $blue-green;
  margin-bottom: 10px !important;
  margin-top: 10px !important;
  padding-top: 15px !important;
  background-color: rgba($tan, .3);
}
