.buddy {
  border-color: $blue-green;
  border-style: solid;
  border-width: 1px 0 !important;
  margin: 10px 0 !important;
  padding: 15px 5px 0px 5px;
  background-color: rgba($tan, .3) !important;
}

.buddy-content{
  margin: 10px 0 0 0 !important;
}

.buddy h3:before{
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

