.buddy {
  border-color: $blue-green;
  border-style: solid;
  border-width: 1px 0 !important;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 15px 5px 0px 5px;
  background-color: rgba($tan, .3) !important;
}

.buddy-content{
  margin: 10px 0 0 0 !important;
  flex-grow: 1;
  margin-top: auto !important;

  b{
    color: $dark-blue !important;
  }
}
@media(min-width: 576px){
  .offset-sm-half{
    margin-left: 4.1666666% !important;
  }
}
.buddyName{
  padding: 0 !important;
  margin-top: auto !important;
}

.buddy-buttons{
  align-items: flex-end;
}

.generic-buttons{
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.buddy-pagination{
  background-color: rgba(0,0,0,0) !important;
}

.pagination{
flex-wrap: wrap !important;
}

@media(min-width: 576px){
  .checked-in-buddy:nth-child(odd){
    margin-left: 4.166666% !important;
  }

  .checked-in-buddy:nth-child(even){
    margin-left: 8.3333333% !important;
  }
}

@media(min-width: 992px){
  .checked-in-buddy:nth-child(3n+1){
    margin-left: 4.166666% !important;
  }

  .checked-in-buddy:nth-child(3n+2), .checked-in-buddy:nth-child(3n+3) {
    margin-left: 8.3333333% !important;
  }
}

@media(min-width: 1400px){
  .checked-in-buddy{
    flex: 0 0 16.6666666% !important;
    max-width: 16.666666% !important;
  }
  .checked-in-buddy:nth-child(4n+1){
    margin-left: 4.166666% !important;
  }

  .checked-in-buddy:nth-child(4n+2), .checked-in-buddy:nth-child(4n+3), .checked-in-buddy:nth-child(4n+4){
    margin-left: 8.33333333% !important;
  }

}
