.flash{
    position: fixed !important;
    top: 61px !important;
    z-index: 1000;
    opacity: .95 !important;
    text-align: center !important;
  }
  
  .flash span{
    float: right !important;
  }
  