@import '../shared/styles/colors';
.flash{
  position: fixed !important;
  top: 50px !important;
  z-index: 1000;
  opacity: .95 !important;
  text-align: center !important;
  width: calc(95%);
  margin: 0 2.5%;
  padding: 8px;
  border-radius: .25rem;
  color: white;
  }
  
  .flash span{
    float: right !important;
  }

  .success{
    background-color:$primary ;
  }

  .warning{
    background-color: $warning;
  
  }

