.pointer{
  cursor: pointer !important;
}

.delete{
  background: $orange !important;
}

.cancel{
  background: $tan !important;
  color: $dark-blue !important;
}

.generic-buttons{
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
