.bottom-5{
  margin-bottom: 5px !important
}


@media(min-width: 576px){
  .offset-sm-half{
    margin-left: 4.1666666%;
  }
}


.buddy-name{
  padding: 0 !important;
  margin-top: auto !important;
}

