.btn{
  border-radius: 10px !important;
  border: 1px solid $dark-blue !important;
  background: $blue-green !important;
  color: white !important;
  margin-bottom: 10px !important;
  margin-top: 10px !important;
}
.btn-xs{
  margin-bottom: 0 !important;
  margin-top: 10px !important;
}

.orange{
  color: $orange !important;
}

.pointer{
  cursor: pointer !important;
}

