@import '../styles/partials/_colors.scss';

.tan-input:focus{
    outline-style:none !important;
    box-shadow:none !important;
}

.tan-input{
    background-color: $tan !important;
    color: $blue-green;
    border-radius: 10px;
    border-color: $blue-green;

  }

  
.tan-input.ng-invalid.ng-touched, .confirm.ng-invalid, .tan-input.nginvalid.ng-touched:focus, .confirm.ng-invalid:focus{
    border-color: $orange;
    border-radius: 10px 10px 0 0;
}

.form-error{
    width: 100%;
    border-radius: 0 0 10px 10px;
    background-color: $orange;
    color: $tan;
    text-align: center;
    height: 24px !important;
}



@media(max-width: 500px){
    .form-error{ height: 48px;}
}

.disabled{
    cursor: not-allowed;
    opacity: .65;
}