<div class="page-container">
  <img class="signup-img" src="/assets/img/logos/main_logo.png">
  <h3 class="text-center">Sign up</h3>

  <form class="signup-form" role="form" (ngSubmit)="signup($event)" [formGroup]="signupForm">
    <mat-form-field class="input">
      <input matInput  formControlName="username" type="text" class="" placeholder="Username"
        [(ngModel)]="user.username">
      <mat-hint>Username must be between 3 and 16 characters</mat-hint>
      <mat-error *ngIf="signupForm.controls.username.errors && (signupForm.controls.username.dirty || signupForm.controls.username.touched)">
        Username must be between 3 and 16 characters</mat-error>
    </mat-form-field>
    <mat-form-field class="input">
      <input matInput  formControlName="email" type="email" class="" placeholder="Email"
        [(ngModel)]="user.email">
        <mat-hint>Valid e-mail address</mat-hint>
      <mat-error *ngIf="signupForm.controls.email.errors && (signupForm.controls.email.dirty || signupForm.controls.email.touched)">Valid
        email is required</mat-error>
    </mat-form-field>
    <mat-form-field class="input">

      <input matInput  formControlName="password" type="password" class=""  placeholder="Password"
        [(ngModel)]="user.password">
      <mat-hint>Password must be between 8 and 128 characters.</mat-hint>
      <mat-error *ngIf="signupForm.controls.password.errors && (signupForm.controls.password.dirty || signupForm.controls.password.touched)">Password
        must be between 8 and 128 characters.</mat-error>

    </mat-form-field>
    <mat-form-field class="input">

      <input matInput  formControlName="confirmpassword" type="password" class=""
        placeholder="Confirm Password" [(ngModel)]="confirmPswd">
      <mat-hint>Passwords must match.</mat-hint>
      <mat-error class="form-error" *ngIf="signupForm.controls.confirmpassword.errors && (signupForm.controls.confirmpassword.dirty || signupForm.controls.confirmpassword.touched || signupForm.controls.password.dirty || signupForm.controls.password.touched)">
        Passwords must match.</mat-error>
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary" ngClass="{{signupForm.valid && signupForm.touched ? '' : 'disabled'}}" class="signup-button">
      Sign-up! </button>
  </form>
  <div class="login-link text-center">
    Already a tracker? <a [routerLink]="['/login']" class="text-warning">Login</a>
  </div>

</div>