.disabled{
    cursor: not-allowed;
    opacity: .65;
}

.signup-img{
    display: block;
    max-height: 200px;
    margin: auto;
    max-width: 50%;
}

.signup-form{
    width: 90%;
    margin: 5%;
}
.input{
    width: 100%;
    margin: 10px 0;
}

.login-link{
    clear: both;
    width: 100%;
    margin-top: 10px;
}

.signup-button{
    display: block;
    margin-left: auto;
}
