<div class="page-container">
  <h2 class="text-center text-warning">{{selectedBuddy._id ? "Editing "+originalName : "Create New Buddy"}}</h2>
    <form class="buddy-edit-form">
      <mat-form-field class="input">
        <input matInput name="name" [(ngModel)]="selectedBuddy.name"
          placeholder="Buddy Name" type="text">
      </mat-form-field>
      <mat-form-field class="input">
        <input matInput name="species" [(ngModel)]="selectedBuddy.species"
          placeholder="Species" type="text">
  
      </mat-form-field>
      <mat-form-field class="input">
        <input matInput name="binomial" [(ngModel)]="selectedBuddy.binomial"
          placeholder="Scientific Name (Optional)" type="text">
    
      </mat-form-field>
      <mat-form-field class="input" *ngIf="!selectedBuddy.dateAdded">
        <input matInput name="dateAdded" rows="5" [(ngModel)]="dateAdded" placeholder="Date Added"
          form="buddyForm" type="date">
      </mat-form-field>
      <mat-form-field class="input">
        <textarea matInput name="description" rows="5" [(ngModel)]="selectedBuddy.description"
          placeholder="Description" form="buddyForm"></textarea>
      </mat-form-field>
    </form>

  <div class="buddy-buttons">
    <button mat-raised-button color="primary" class="submit" type="submit" (click)="saveBuddy()">
      Save
    </button>
    <button mat-raised-button color="warning" *ngIf="actionType == 'edit'" class="delete" (click)="deleted.emit(buddy); $event.stopPropagation();">
        Delete
      </button>
      
    <button mat-raised-button color="secondary" class="cancel" type="submit" (click)="cancelled.emit(selectedBuddy)">
      Cancel
    </button>

  </div>

</div>