.disabled{
    cursor: not-allowed;
    opacity: .65;
}

.login-img{
    display: block;
    max-height: 200px;
    margin: auto;
    max-width: 50%;
}

.buddy-edit-form{
    width: 90%;
    margin: 5%;
}
.input{
    width: 100%;
    margin: 10px 0;
}


.buddy-buttons{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}