.text-blue-green{
  color: $blue-green !important;
}
.text-tan{
  color: $tan !important;
}
.text-orange{
  color: $orange !important;
}
.text-dark-blue{
  color: $dark-blue !important;
}
.text-off-black{
 color: $off-black !important;
}



