<div class="page-container">
<h2 class="text-center">Change password for <span class="text-warning">{{user.username}}</span></h2>
<form class="settings-form" [formGroup]="changePasswordForm" role="form" (ngSubmit)="changePassword()">
    <mat-form-field class="input">
    <input matInput  type="password" formControlName="currentPassword" placeholder="Current Password" name="currentPassword">
    <mat-error *ngIf="currentPassword.errors && (currentPassword.dirty || currentPassword.touched)">
        Invalid password. Must be between 8 and 128 characters.
    </mat-error>
    </mat-form-field>
  <mat-form-field class="input">
    <input matInput type="password" formControlName="newPassword" placeholder="New Password" name="newPassword" [(ngModel)]="newPasswordModel">
    <mat-error *ngIf="newPassword.errors && (newPassword.dirty || newPassword.touched)">
        Invalid password. Must be between 8 and 128 characters.
    </mat-error>
  </mat-form-field>
  <mat-form-field class="input">
    <input matInput type="password" placeholder="Confirm New Password" formControlName="confirmPassword" name="confirmPassword">
    <mat-error *ngIf="confirmPassword.errors && ((newPassword.dirty || newPassword.touched) || (confirmPassword.dirty || confirmPassword.touched))">
        Passwords must match.
    </mat-error>
  </mat-form-field>
  <button ngClass="{{changePasswordForm.valid && changePasswordForm.touched ? '' : 'disabled'}}" mat-raised-button [color]="changePasswordForm.valid ? 'primary' : 'warning'" type="submit" class="submit-button">Save</button>
  <button mat-raised-button color="warning" [routerLink]="['/buddies']" class="cancel-button">Cancel</button>
</form>
</div>
